.card {

    // The perspective has to be set on the parent element
    perspective: 150rem;
    -moz-perspective: 150rem;
    
    // At absolute positioning all elements lose their height, so the parent must be given the same height
    height: 52rem;

    &__side {
        font-size: 2rem;
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;

        // So that the picture rounds off to the borders
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        // At absolute positioning, elements start fitting to their width
        // Hence we specify the width
        width: 100%;

        // To hide the back part of the card when it is flipped
        backface-visibility: hidden;


        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
            }

            &--2 {
                background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            }

            &--3 {
                background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
            }

        }
    }    

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;

        // Does not work on Internet explorer or microsoft edge, only Safari, Firefox and Chrome
        background-blend-mode: screen;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        // overflow hidden is overridden by clip path and manually setting top-left-radius
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;


        &--1 {
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;

            // Centering a block element inside a block element
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 2px solid $color-grey-light-2;
                }
            }

        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

}