*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
} /*Universal reset, so that every browser renders the page in the same way. */

html {
    // This defines what 1 rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}